@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #D0D0D0;
    border-radius: 5px;
}